
/* NAVIGATION */
#rappels{
  border-radius: 10px 0px 0px 0px;
}
#calendrier{
	border-radius: 0px 10px 0 0px;
}
#annuaire{
	border-radius: 0px 0px 0px 10px;
}
#demandes{
	border-radius: 0px 0px 0px 0px;
}
#ressources{
	border-radius: 0px 0px 10px 0px;
}

/* SECTION */
.sectionP{
  color: #555555;
  margin-top: 100px;
  font-size: 22px;
}
#titre{
  margin-bottom: 60px;
}
table input {
  width: 13vw;
}
.mesBtns{
  width: 30vw;
  margin-top: 2vw;
  font-size: 2.2vw;
  margin-left: 27%;
}
.apparait{
  display: block;
}
.disparait{
  display: none;
}
.table {
    margin-top: 30px;
    width: 100%;
    font-size: 16px;
}
table span {
  margin-left: 40%;
}
.spanSpe{
  margin-left: 15%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
td{
  color: #555555;
}
th{
  color: #333333;
  background-color: #cccccc;
}
tr:nth-child(odd) {
    background-color: #eeeeee;
}
.inputTextarea{
  width: 100%;
}
.colonneLarge{
  width: 50%;
}
.colonneFine{
  width: 60px;
}

#boutonRetour{
  float: right;
  margin-top: 20px;
  margin-bottom: 90px;
}

/* ADAPTATIONS */
@media screen and (max-width: 650px) {
	/* SECTION */
  section p{
    margin-top: 60px;
  }
  #titre{
    margin-left: 36px;
  }
  table {
      margin-bottom: 30px;
  }
  .mesBtns{
    width: 250px;
    margin-top: 20px;
    font-size: 16px;
  }
  .lastElelement{
    margin-bottom: -100px;
  }
	/* NAVIGATION */
	/* FOOTER */
}
