
/* NAVIGATION */
#rappels{
  border-radius: 0px 0px 0px 0px;
}
#calendrier{
	border-radius: 0px 10px 0 0px;
}
#demandes{
	border-radius: 10px 0px 0 0px;
}
#annuaire{
	border-radius: 0px 0px 0px 10px;
}
#ressources{
	border-radius: 0px 0px 10px 0px;
}

/* ADAPTATIONS */
@media screen and (max-width: 650px) {

	/* SECTION */

	/* NAVIGATION */

	/* FOOTER */

}
