<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Page où l'on peut voir et rechercher dans l'annuaire de l'entreprise">
    <meta name="author" content="maxime SURMONT">
    <title> L'Annuaire de CADRE </title>
    <link rel="shortcut icon" href="img/favicon.png.ico" type="image/x-icon" />

    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/pagesIntranet.css" rel="stylesheet">
    <link href="../css/annuaireDirection.css" rel="stylesheet">
    <script type="text/javascript" src="../js/pagesIntranet.js"></script>
    <script type="text/javascript" src="../js/annuaireDirec.js"></script>
  </head>

  <body>

    <div class="container">
      <div>
        <a><span class="disparaitre" id="iconeMenu"></span></a>
        <div class="row">
          <div th:insert="~{communIntranet :: divNavigationIntranet}">
          </div>

          <section class="col-lg-8 col-md-8 col-sm-8 col-xs-8" id="section">
            <h1 id="titre" >Annuaire CADRE</h1>

            <p>Contenu de l'annuaire :</p>
            <table id="tableauDuPersonnel">
              <tr>
                <th >Prenom</th>
                <th >Nom</th>
                <th >Poste</th>
                <th >Telephone</th>
                <th >E-mail</th>
                <th id="action">Action</th>
              </tr>
              <tr>
                <td><input type="text" id="prenom" class="form-control"></td>
                <td><input type="text" id="nom" class="form-control"></td>
                <td><input type="text" id="poste" class="form-control"></td>
                <td><input type="text" id="telephone" class="form-control"></td>
                <td><input type="text" id="email" class="form-control"></td>
                <td><a href="#"><span class="glyphicon glyphicon-plus" id="boutonAdd"></span></a></td>
              </tr>
            </table>

            <p>Recherche dans l'annuaire :</p>
            <form id="formulaire">
                <div class="input-group">
                  <div class="input-group-addon" > <span class="glyphicon glyphicon-search" > </span> </div>
                  <input list="lstAnnuaires" type="text" class="form-control" id="inputSearch" placeholder="nom ou poste de(s) personne(s) recherchee(s)">
                  <datalist id="lstAnnuaires"></datalist>
                </div>
                <div id="boutonSearch">
                  <a class="btn btn-primary" id="boutonSearch" href="#">Rechercher</a>
                </div>
            </form>

            <table id="tableauDuPersonnel2">
            </table>
          </section>

        </div>
      </div>

     <footer th:insert="~{communIntranet :: footerIntranetDirection}" id="footer">
      </footer>
    </div>
  </body>
</html>
