<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Page du calendrier des demandes">
    <meta name="author" content="maxime SURMONT">
    <title> Calendrier des demandes </title>
    <link rel="shortcut icon" href="../img/favicon.png.ico" type="image/x-icon" />

    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/pagesIntranet.css" rel="stylesheet">
    <link href="../css/calendrierEmployes.css" rel="stylesheet">
    <script type="text/javascript" src="../js/pagesIntranet.js"></script>
    <script type="text/javascript" src="../js/calendrierEmployes.js"></script>
  </head>

  <body>
    <div class="container">
      <div >
        <a><span class="disparaitre" id="iconeMenu"></span></a>
        <div class="row">
          <div th:insert="~{communIntranet :: divNavigationIntranet}">
          </div>

          <section class="col-lg-8 col-md-8 col-sm-8 col-xs-8" id="section">
            <h1 id="titre" >Calendrier de vos Demandes</h1>

            <div id="calendar-wrap">
              <div id="placementMois">
                <span class="glyphicon glyphicon-chevron-left" id="flecheLeft"></span>
                <h2 id="choixMoisAnnee"></h2>
                <span class="glyphicon glyphicon-chevron-right" id="flecheRight"></span>
              </div>
              <div id="calendar">
                <ul class="weekdays">
                  <li>Lundi</li>
                  <li>Mardi</li>
                  <li>Mercredi</li>
                  <li>Jeudi</li>
                  <li>Vendredi</li>
                  <li>Samedi</li>
                  <li>Dimanche</li>
                </ul>
                <div id="pourLaSuppression">
                </div>
              </div>
            </div>

            <div class="cara"> </div>

            <h2 class="sous-titre">Demande de Conges</h2>
            <form class="formulaireDemandes" method="post">
              <div class="input-group" id="divInputNom1">
                <div class="input-group-addon" > <span> Nom :</span> </div>
                <input type="text" class="form-control" id="inputNom1">
              </div>
              <div class="input-group">
                <div class="input-group-addon" > <span> Prenom :</span> </div>
                <input type="text" class="form-control" id="inputPrenom1">
              </div>
                 <div class="input-group" id="divDate1">
                <div class="input-group-addon" > <span> Date de debut :</span> </div>
                <select class="form-control" id="form_dayD" name="form_dayD">
					<option>-</option>
					<option value="01">1</option>
					<option value="02">2</option>
    				<option value="03">3</option>
					<option value="04">4</option>
					<option value="05">5</option>
					<option value="06">6</option>
					<option value="07">7</option>
					<option value="08">8</option>
					<option value="09">9</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
					<option value="13">13</option>
					<option value="14">14</option>
					<option value="15">15</option>
					<option value="16">16</option>
					<option value="17">17</option>
					<option value="18">18</option>
					<option value="19">19</option>
					<option value="20">20</option>
					<option value="21">21</option>
					<option value="22">22</option>
					<option value="23">23</option>
					<option value="24">24</option>
					<option value="25">25</option>
					<option value="26">26</option>
					<option value="27">27</option>
					<option value="28">28</option>
					<option value="29">29</option>
					<option value="30">30</option>
					<option value="31">31</option>
				</select>
                <select class="form-control" id="form_monthD" name="form_monthD">
					<option value="-">-</option>
					<option value="01">Janvier</option>
					<option value="02">Fevrier</option>
					<option value="03">Mars</option>
					<option value="04">Avril</option>
					<option value="05">Mai</option>
					<option value="06">Juin</option>
					<option value="07">Juillet</option>
					<option value="08">Aout</option>
					<option value="09">Septembre</option>
					<option value="10">Octobre</option>
					<option value="11">Novembre</option>
					<option value="12">Decembre</option>
				</select>
 				
				<select class="form-control" id="form_yearD" name="form_yearD">
					<option value="-">-</option>
					<option value="2017">2017</option>
					<option value="2018">2018</option>
					<option value="2019">2019</option>
					<option value="2020">2020</option>
					<option value="2021">2021</option>
					<option value="2022">2022</option>
					<option value="2023">2023</option>
					<option value="2024">2024</option>
					<option value="2025">2025</option>
					<option value="2026">2026</option>
					<option value="2027">2027</option>
					<option value="2028">2028</option>
				</select>
              </div>
              <div class="input-group" id="divDate2">
                <div class="input-group-addon" > <span> Date de fin :</span> </div>
                <select class="form-control" id="form_dayF" name="form_dayF">
					<option value="-">-</option>
					<option value="01">1</option>
					<option value="02">2</option>
    				<option value="03">3</option>
					<option value="04">4</option>
					<option value="05">5</option>
					<option value="06">6</option>
					<option value="07">7</option>
					<option value="08">8</option>
					<option value="09">9</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
					<option value="13">13</option>
					<option value="14">14</option>
					<option value="15">15</option>
					<option value="16">16</option>
					<option value="17">17</option>
					<option value="18">18</option>
					<option value="19">19</option>
					<option value="20">20</option>
					<option value="21">21</option>
					<option value="22">22</option>
					<option value="23">23</option>
					<option value="24">24</option>
					<option value="25">25</option>
					<option value="26">26</option>
					<option value="27">27</option>
					<option value="28">28</option>
					<option value="29">29</option>
					<option value="30">30</option>
					<option value="31">31</option>
				</select>
                <select class="form-control" id="form_monthF" name="form_monthF">
					<option value="-">-</option>
					<option value="01">Janvier</option>
					<option value="02">Fevrier</option>
					<option value="03">Mars</option>
					<option value="04">Avril</option>
					<option value="05">Mai</option>
					<option value="06">Juin</option>
					<option value="07">Juillet</option>
					<option value="08">Aout</option>
					<option value="09">Septembre</option>
					<option value="10">Octobre</option>
					<option value="11">Novembre</option>
					<option value="12">Decembre</option>
				</select>
 				
				<select class="form-control" id="form_yearF" name="form_yearF">
					<option value="-">-</option>
					<option value="2017">2017</option>
					<option value="2018">2018</option>
					<option value="2019">2019</option>
					<option value="2020">2020</option>
					<option value="2021">2021</option>
					<option value="2022">2022</option>
					<option value="2023">2023</option>
					<option value="2024">2024</option>
					<option value="2025">2025</option>
					<option value="2026">2026</option>
					<option value="2027">2027</option>
					<option value="2028">2028</option>
				</select>
              </div>
              <select class="form-control" id="typeConge">
                <option> </option>
              </select>
           
              
              <div id="boutonSearch" class="boutonSearch">
                <a class="btn btn-primary" id="boutonSearch1" href="#">Envoyer</a>
              </div>
            </form>

            <h2 class="sous-titre">Demande de Prets de Véhicule</h2>
            <form class="formulaireDemandes" method="post">
              <div class="input-group" id="divInputNom2">
                <div class="input-group-addon" > <span> Nom :</span> </div>
                <input type="text" class="form-control" id="inputNom2">
              </div>
              <div class="input-group">
                <div class="input-group-addon" > <span> Prenom :</span> </div>
                <input type="text" class="form-control" id="inputPrenom2">
              </div>
              <div class="input-group" id="divDate3">
                <div class="input-group-addon" > <span> Date de debut :</span> </div>
                <select class="form-control" id="formV_dayD" name="formV_dayD">
					<option>-</option>
					<option value="01">1</option>
					<option value="02">2</option>
    				<option value="03">3</option>
					<option value="04">4</option>
					<option value="05">5</option>
					<option value="06">6</option>
					<option value="07">7</option>
					<option value="08">8</option>
					<option value="09">9</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
					<option value="13">13</option>
					<option value="14">14</option>
					<option value="15">15</option>
					<option value="16">16</option>
					<option value="17">17</option>
					<option value="18">18</option>
					<option value="19">19</option>
					<option value="20">20</option>
					<option value="21">21</option>
					<option value="22">22</option>
					<option value="23">23</option>
					<option value="24">24</option>
					<option value="25">25</option>
					<option value="26">26</option>
					<option value="27">27</option>
					<option value="28">28</option>
					<option value="29">29</option>
					<option value="30">30</option>
					<option value="31">31</option>
				</select>
                <select class="form-control" id="formV_monthD" name="formV_monthD">
					<option value="-">-</option>
					<option value="01">Janvier</option>
					<option value="02">Fevrier</option>
					<option value="03">Mars</option>
					<option value="04">Avril</option>
					<option value="05">Mai</option>
					<option value="06">Juin</option>
					<option value="07">Juillet</option>
					<option value="08">Aout</option>
					<option value="09">Septembre</option>
					<option value="10">Octobre</option>
					<option value="11">Novembre</option>
					<option value="12">Decembre</option>
				</select>
 				
				<select class="form-control" id="formV_yearD" name="formV_yearD">
					<option value="-">-</option>
					<option value="2017">2017</option>
					<option value="2018">2018</option>
					<option value="2019">2019</option>
					<option value="2020">2020</option>
					<option value="2021">2021</option>
					<option value="2022">2022</option>
					<option value="2023">2023</option>
					<option value="2024">2024</option>
					<option value="2025">2025</option>
					<option value="2026">2026</option>
					<option value="2027">2027</option>
					<option value="2028">2028</option>
				</select>
              </div>
              <div class="input-group" id="divDate4">
                <div class="input-group-addon" > <span> Date de fin :</span> </div>
                <select class="form-control" id="formV_dayF" name="formV_dayF">
					<option value="-">-</option>
					<option value="01">1</option>
					<option value="02">2</option>
    				<option value="03">3</option>
					<option value="04">4</option>
					<option value="05">5</option>
					<option value="06">6</option>
					<option value="07">7</option>
					<option value="08">8</option>
					<option value="09">9</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
					<option value="13">13</option>
					<option value="14">14</option>
					<option value="15">15</option>
					<option value="16">16</option>
					<option value="17">17</option>
					<option value="18">18</option>
					<option value="19">19</option>
					<option value="20">20</option>
					<option value="21">21</option>
					<option value="22">22</option>
					<option value="23">23</option>
					<option value="24">24</option>
					<option value="25">25</option>
					<option value="26">26</option>
					<option value="27">27</option>
					<option value="28">28</option>
					<option value="29">29</option>
					<option value="30">30</option>
					<option value="31">31</option>
				</select>
                <select class="form-control" id="formV_monthF" name="formV_monthF">
					<option value="-">-</option>
					<option value="01">Janvier</option>
					<option value="02">Fevrier</option>
					<option value="03">Mars</option>
					<option value="04">Avril</option>
					<option value="05">Mai</option>
					<option value="06">Juin</option>
					<option value="07">Juillet</option>
					<option value="08">Aout</option>
					<option value="09">Septembre</option>
					<option value="10">Octobre</option>
					<option value="11">Novembre</option>
					<option value="12">Decembre</option>
				</select>
 				
				<select class="form-control" id="formV_yearF" name="formV_yearF">
					<option value="-">-</option>
					<option value="2017">2017</option>
					<option value="2018">2018</option>
					<option value="2019">2019</option>
					<option value="2020">2020</option>
					<option value="2021">2021</option>
					<option value="2022">2022</option>
					<option value="2023">2023</option>
					<option value="2024">2024</option>
					<option value="2025">2025</option>
					<option value="2026">2026</option>
					<option value="2027">2027</option>
					<option value="2028">2028</option>
				</select>
              </div>
              
              
              <select class="form-control" id="whichcar">
                <option> </option>
              </select>
              <div id="boutonSearch" class="boutonSearch">
                <a class="btn btn-primary" id="boutonSearch2" href="#">Envoyer</a>
              </div>
            </form>

            <h2 class="sous-titre">Vos compteurs</h2>
            <form class="formulaireDemandes" method="post">
              <select class="form-control" id="select3">
                <option> </option>
              </select>
              <div id="boutonSearch" class="boutonSearch">
                <a class="btn btn-primary" id="boutonSearch3" href="#messageCompteur">Envoyer</a>
              </div>
            </form>
            <div id="messageCompteur"></div>


          </section>
        </div>
      </div>

      <footer th:insert="~{communIntranet :: footerIntranetEmploye}" id="footer">
      </footer>
    </div>
  </body>
</html>
