<!DOCTYPE html>
<html>
	<head>
  		<meta charset="utf-8">
   		<meta name="viewport" content="width=device-width, initial-scale=1">
    	<meta name="description" content="Page de connection à l'intranet">
    	<meta name="author" content="maxime SURMONT">
    	<title> Connexion Intranet</title>
    	<link rel="shortcut icon" href="img/favicon.png.ico" type="image/x-icon" />

    	<link href="css/bootstrap.css" rel="stylesheet">
    	<link href="css/connexionIntranet.css" rel="stylesheet">
    	<script type="text/javascript" src="js/connexionIntranet.js"></script>
  	</head>

  	<body>
  	<a href="connexionIntranetDirection">Administration</a>
  	<a href="connexionIntranetEmploye">Employés</a>
  	</body>
 </html>