<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Page où l'on peut choisir quoi modifier dans le site vitrine">
    <meta name="author" content="maxime SURMONT">
    <title> Gestion des demandes</title>
    <link rel="shortcut icon" href="img/favicon.png.ico" type="image/x-icon" />

    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/pagesIntranet.css" rel="stylesheet">
    <link href="../css/demandesDirection.css" rel="stylesheet">
    <script type="text/javascript" src="../js/pagesIntranet.js"></script>
    <script type="text/javascript" src="../js/demandeDirection.js"></script>
  </head>

  <body>

    <div class="container">
      <div>
        <a><span class="disparaitre" id="iconeMenu"></span></a>
        <div class="row">
        
          <div th:insert="~{communIntranet :: divNavigationIntranet}">
          </div>

          <section class="col-lg-8 col-md-8 col-sm-8 col-xs-8" id="section">
            <h1 id="titre" >Gestion des demandes et des informations de CADRE</h1>
            <div>
              <a id="boutonVehicules1" href="#">Gerer les prêts de vehicules</a>
            </div>
            <div>
              <a id="boutonConges" href="#">Gerer les conges</a>
            </div>
            <div>
              <a id="boutonAttestations" href="#">Gerer les attestations</a>
            </div>
            <div>
              <a id="boutonVehicules2" href="#">Gerer les vehicules</a>
            </div>
            <div>
              <a id="boutonDevis" href="#">Gerer les devis</a>
            </div>
            <div>
              <a id="boutonEvenements" href="#">Gerer les rappels</a>
            </div>

            <p id="sousTitre1"></p>
            <table id="tableauDesDemandes1">
            </table>
            <p id="sousTitre2"></p>
            <table id="tableauDesDemandes2">
            </table>

            <a href="#" id="boutonRetour"> Retour </a>
          </section>

        </div>
      </div>

      <footer th:insert="~{communIntranet :: footerIntranetDirection}" id="footer">
      </footer>
    </div>
  </body>
</html>
