<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Cadre</title>
<meta charset="UTF-8"/>

<!-- CSS
================================================== -->
<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="css/bootstrapSite.css">
<link rel="stylesheet" href="css/bootstrap-responsiveSite.css">
<link rel="stylesheet" href="css/prettyPhoto.css" />
<link rel="stylesheet" href="css/flexslider.css" />
<link rel="stylesheet" href="css/custom-styleS.css">


<!-- Favicon
================================================== -->
<link rel="shortcut icon" href="img/favicon.png.ico">

<!-- JS
================================================== -->
<script src="js/index.js"></script>
<script src="js/jquery-1.8.3.js"></script>
<script src="js/bootstrapSite.js"></script>
<script src="js/jquery.prettyPhoto.js"></script>
<script src="js/jquery.flexslider.js"></script>
<script src="js/jquery.custom.js"></script>
<script type="text/javascript">
$(document).ready(function () {

    $("#btn-blog-next").click(function () {
      $('#blogCarousel').carousel('next')
    });
     $("#btn-blog-prev").click(function () {
      $('#blogCarousel').carousel('prev')
    });

     $("#btn-client-next").click(function () {
      $('#clientCarousel').carousel('next')
    });
     $("#btn-client-prev").click(function () {
      $('#clientCarousel').carousel('prev')
    });

});

 $(window).load(function(){

    $('.flexslider').flexslider({
        animation: "slide",
        slideshow: true,
        start: function(slider){
          $('body').removeClass('loading');
        }
    });
});

</script>

</head>

<body class="home">
   <!-- Bandeaux -->
	<div th:insert="~{commun :: bandeaux}"></div>

    <div class="container">
	<!-- Header -->
     <div class="row header">
      <div class="span5 logo" id="slogan" th:insert="~{commun :: logo}"></div>
      <div th:insert="~{commun :: header(index)}">
      </div>
      
     
      </div>
    
    <div class="row headline"><!-- Begin Headline -->

     	<!-- Slider Carousel
        ================================================== -->
        <div class="span8">
        	<div class="flexslider">
              <ul class="slides">
                <li><a href=""><img src="img/gallery/exterieurBT.png" alt="slider" /></a></li>
                <li><a href=""><img src="img/gallery/exterieurBT.png" alt="slider" /></a></li>
                <li><a href=""><img src="img/gallery/exterieurBT.png" alt="slider" /></a></li>
              </ul>
            </div>
        </div>

        <!-- Headline Text
        ================================================== -->

        <div class="span4">
        	<h3>Bienvenue sur le site de l'entreprise CADRE</h3>
            <p class="lead">Cadre est une SAS de Petit Caux en Seine-Maritime (76). </p>
            <p id="description">
            </p>
             <a href="entreprise"><i class="icon-plus-sign"></i>En savoir plus...</a>
        </div>
    </div><!-- End Headline -->
    


    </div>
    <!-- Footer -->

	<div class="footer-container" th:insert="~{commun :: footer}"><!-- Begin Footer -->
    </div>

    <!-- Scroll to Top -->
    <div id="toTop" class="hidden-phone hidden-tablet">Back to Top</div>

</body>
</html>
