<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Page de menu de l'intranet">
    <meta name="author" content="maxime SURMONT">
    <title> Menu Intranet </title>
    <link rel="shortcut icon" href="../img/favicon.png.ico" type="image/x-icon" />

    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/menuIntranetEmployes.css" rel="stylesheet">
    <link href="../css/menuIntranet.css" rel="stylesheet">
    <script type="text/javascript" src="../js/menuIntranetEmployes.js"></script>
  </head>

  <body>
    <div class="container">

	    <!-- Visible sur Ordinateur -->
	    <div id="navOrdi">
        <nav class="row">
          <div id="navigation">
	     	    <div class="col-lg-2 col-lg-offset-1 col-md-2 col-md-offset-1 col-sm-2 col-sm-offset-1 col-xs-2 col-xs-offset-1" id="rappels">
              <a href="rappels" id="liensIcons">
              <img src="../img/RappelsPerso.png" alt="icône des rappels personnels">
              <p class="iconSignification">Rappels</p></a>
            </div>
	     	    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" id="calendrier">
              <a href="calendrier" id="liensIcons">
              <img src="../img/CalendrierValidites.png" alt="icône du calendrier des validités">
              <p class="iconSignification">Calendrier</p> </a>
            </div>
	     	    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" id="demandes">
              <a href="demandes" id="liensIcons">
              <img src="../img/Demandes.png" alt="icône des demandes">
              <p class="iconSignification">Demandes</p> </a>
            </div>
	     	    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" id="annuaire">
              <a href="annuaire" id="liensIcons">
              <img src="../img/Annuaire.png" alt="icône de l'annuaire">
              <p class="iconSignification">Annuaire</p> </a>
            </div>
	     	    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" id="ressources">
              <a href="ressources" id="liensIcons">
              <img src="../img/RessourcePeda.png" alt="icône des ressources">
              <p class="iconSignification">Ressources</p> </a>
            </div>
    	    </div>
        </nav>  
      </div>

	  <section class="row">
    	    <p id="messageBienvenue" class="col-lg-offset-4 col-lg-4 col-md-offset-4 col-md-4"> Bienvenue <span id="nomEmploye">Mr SURMONT</span> </p>
      </section>

	    <!-- Visible sur Smartphone -->
      <div id="navMobile">
  	    <nav class="row">
    		  <div id="navigation">
    			  <div class="row">
	   	  	    <div class="col-xs-4 col-xs-offset-2" id="rappels">
                <a href="rappels" id="liensIcons">
                <img src="../img/RappelsPerso.png" alt="icône des rappels personnels">
                <p class="iconSignification">Rappels</p></a>
              </div>
	    		    <div class="col-xs-4 col-xs-offset-2" id="calendrier">
                <a href="calendrier" id="liensIcons">
                <img src="../img/CalendrierValidites.png" alt="icône du calendrier des validités">
                <p class="iconSignification">Calendrier</p> </a>
              </div>
	     		  </div>
	     		  <div class="row">
	    		    <div class="col-xs-4 col-xs-offset-2" id="demandes">
                <a href="demandes" id="liensIcons"> <img src="../img/Demandes.png" alt="icône des demandes">
                  <p class="iconSignification">Demandes</p> </a>
              </div>
		    	    <div class="col-xs-4 col-xs-offset-2" id="annuaire">
                <a href="annuaire" id="liensIcons">
                <img src="../img/Annuaire.png" alt="icône de l'annuaire">
                <p class="iconSignification">Annuaire</p> </a>
              </div>
	      	  </div>
		    	  <div class="row">
		    	    <div class="col-xs-4 col-xs-offset-5" id="ressources">
                <a href="ressources" id="liensIcons"> <img src="../img/RessourcePeda.png" alt="icône des ressources">
                <p class="iconSignification">Ressources</p> </a>
              </div>
		    	  </div>
    		  </div>
    	  </nav>
      </div>


    <footer th:insert="~{communIntranet :: footerIntranetEmploye}" id="footer">
      </footer>

    </div>
  </body>
</html>
