<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Cadre - Métiers</title>

<!-- CSS
================================================== -->
<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="css/bootstrapSite.css">
<link rel="stylesheet" href="css/bootstrap-responsiveSite.css">
<link rel="stylesheet" href="css/prettyPhoto.css" />
<link rel="stylesheet" href="css/custom-styleSite.css">


<!-- Favicons
================================================== -->
<link rel="shortcut icon" href="img/favicon.png.ico">

<!-- JS
================================================== -->
<script src="js/jquery-1.8.3.js"></script>
<script src="js/bootstrapSite.js"></script>
<script src="js/jquery.prettyPhoto.js"></script>
<script src="js/jquery.custom.js"></script>

</head>

<body>
     <!-- Bandeaux -->
   <div th:insert="~{commun :: bandeaux}"></div>

    <div class="container">
    <!-- Header -->
     <div class="row header" th:insert="~{commun :: header(metier)}"><!-- Begin Header -->
      </div>
      
     <h2>Nos métiers</h2>

     <div class="row">

        <div class="span4 sidebar">

        <img src="img/gallery/gallery-img-1-3col.jpg" alt="image">
         <h3>Fabrication</h3>
          <ul class="popular-posts">
                <li>
                    <img src="img/gallery/gallery-img-2-thumb.jpg" >
                    <h6>Charpentes métalliques / Porte tôle / Platelages / Monorails / Points d'ancrage / Ensemble mécano-soudés</h6>
                </li>
                <li>
                    <img src="img/gallery/gallery-img-2-thumb.jpg" alt="Popular Post">
                    <h6> Escaliers / Portails / Passerelles / Panneaux grillagés / Coffres </h6>
                </li>
                <li>
                    <img src="img/gallery/gallery-img-2-thumb.jpg" alt="Popular Post">
                    <h6>Echelles / Gardes-corps / Barreaudages / Pièces pliés </h6>
                </li>
        </ul>

        </div>
        
        <div class="span4">

        <img src="img/gallery/gallery-img-1-3col.jpg" alt="image">
         <h3>Installation / Modification</h3>
         <ul class="popular-posts">
                <li>
                    <img src="img/gallery/gallery-img-2-thumb.jpg" >

                    <h6> Charpentes métalliques / Monorails / Chemins de roulement / Point d'ancrage / Platelages / Panneaux grillagés  </h6>
                </li>
                <li>
                    <img src="img/gallery/gallery-img-2-thumb.jpg" alt="Popular Post">
                    <h6>Escaliers / Passerelles / Clôtures / Grillages / Portes métallique, Coupe-feu, Isoplanes, Coulissantes / Portails </h6>
                </li>
                <li>
                    <img src="img/gallery/gallery-img-2-thumb.jpg" alt="Popular Post">
                    <h6>Echelles / Garde-corps / Barreaudages / Serrurerie / Quincaillerie / Couverture / Bardage / Bac acier / Etanchéité</h6>
                </li>
        </ul>
        
        </div>
        <div class="span4">

        <img src="img/gallery/gallery-img-1-3col.jpg" alt="image">
         <h3>Maintenance / Contrôle</h3>
          <ul class="popular-posts">
                <li>
                    <img src="img/gallery/gallery-img-2-thumb.jpg" >
                    <h6> Ossatures métalliques </h6>
                </li>
                <li>
                    <img src="img/gallery/gallery-img-2-thumb.jpg" alt="Popular Post">
                    <h6>Portes coupe-feu / Portes ordinaires / Bardages / Etanchéité</h6>
                </li>
                <li>
                    <img src="img/gallery/gallery-img-2-thumb.jpg" alt="Popular Post">
                    <h6>Détection métaux</h6>
                </li>
        </ul>
        
        </div>
        
    </div>    

  	</div>
    <!-- Footer Area
        ================================================== -->

    <div class="footer-container" th:insert="~{commun :: footer}">
    </div><!-- End Footer -->

    <!-- Scroll to Top -->
    <div id="toTop" class="hidden-phone hidden-tablet">Back to Top</div>

</body>
</html>

