<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Cadre - Prestations</title>

<!-- CSS
================================================== -->
<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="css/bootstrapSite.css">
<link rel="stylesheet" href="css/bootstrap-responsiveSite.css">
<link rel="stylesheet" href="css/prettyPhoto.css" />
<link rel="stylesheet" href="css/custom-styleS.css">


<!-- Favicons
================================================== -->
<link rel="shortcut icon" href="img/favicon.png.ico">

<!-- JS
================================================== -->
<script src="js/prestations.js"></script>
<script src="js/jquery-1.8.3.js"></script>
<script src="js/bootstrapSite.js"></script>
<script src="js/jquery.prettyPhoto.js"></script>
<script src="js/jquery.custom.js"></script>

</head>

<body>
     <!-- Bandeaux -->
   <div th:insert="~{commun :: bandeaux}"></div>

    <div class="container">
    <!-- Header -->
     <div class="row header">
      <div class="span5 logo" id="slogan" th:insert="~{commun :: logo}"></div>
      <div th:insert="~{commun :: header(prestations)}">
      </div>
      </div>

    <!-- Page Content-->

    <h2>Nos réalisations </h2>

    <div class="row">

        <!-- Gallery Items
        ================================================== -->
        <div class="span12 gallery">

            <div class="row clearfix">
                <ul class="gallery-post-grid holder">

                    <!-- Gallery Item 1 -->
                    <li  class="span3 gallery-item" data-id="id-1">
                        <span class="gallery-hover-4col hidden-phone hidden-tablet">
                            <span class="gallery-icons">
                                <a href="img/gallerie_prestations/roue.jpg" class="item-zoom-link lightbox" title="Touret en inox" data-rel="prettyPhoto"></a>
                            </span>
                        </span>
                        <img src="img/gallerie_prestations/roueP.png" alt="Gallery" id="img1">
                        <span class="project-details"><a href="img/gallerie_prestations/roue.jpg" id="id1-nom"></a> <em id=id1-des></em> 
                          <a href="img/gallerie_prestations/fiche.pdf"download="id9" title="Pdf" class="download">Telecharger la fiche produit(.pdf)</a>
                      	 <a href="devis"><input class="btn" value="Demande de devis" /></a>
                      </span>
                    </li>

                    <!-- Gallery Item 2 -->
                      <li  class="span3 gallery-item" data-id="id-2">
                        <span class="gallery-hover-4col hidden-phone hidden-tablet">
                            <span class="gallery-icons">
                                <a href="img/gallerie_prestations/cercle.jpg" class="item-zoom-link lightbox" title="Plancher de protection" data-rel="prettyPhoto"></a>
                            </span>
                        </span>
                        <img src="img/gallerie_prestations/cercleP.png" alt="Gallery" id="img2">
                        <span class="project-details"><a href="img/gallerie_prestations/cercle.jpg" id="id2-nom" ></a><em id=id2-des></em> 
                        
                        <a href="img/gallerie_prestations/fiche.pdf"download="id9" title="Pdf" class="download">Telecharger la fiche produit(.pdf)</a>
                      	<a href="devis"><input class="btn" value="Demande de devis" /></a>
                      </span>
                    </li>

                    <!-- Gallery Item 3 -->
                     <li  class="span3 gallery-item" data-id="id-3">
                        <span class="gallery-hover-4col hidden-phone hidden-tablet">
                            <span class="gallery-icons">
                                <a href="img/gallerie_prestations/cache.jpg" class="item-zoom-link lightbox" title="Cache" data-rel="prettyPhoto"></a>
                            </span>
                        </span>
                        <img src="img/gallerie_prestations/cacheP.png" alt="Gallery" id="img3">
                        <span class="project-details"><a href="img/gallerie_prestations/chariot.jpg" id="id3-nom"></a><em id=id3-des></em> 
                          <a href="img/gallerie_prestations/fiche.pdf"download="id9" title="Pdf" class="download">Telecharger la fiche produit(.pdf)</a>
                       	  <a href="devis"><input class="btn" value="Demande de devis" /></a>
                        </span>
                    </li>
                    <!-- Gallery Item 4 -->
                      <li  class="span3 gallery-item" data-id="id-4" >
                        <span class="gallery-hover-4col hidden-phone hidden-tablet">
                            <span class="gallery-icons">
                                <a href="img/gallerie_prestations/chariot.jpg" class="item-zoom-link lightbox" title="Chariot" data-rel="prettyPhoto"></a>
                            </span>
                        </span>
                        <img src="img/gallerie_prestations/chariotP.png" alt="Gallery" id="img4">
                        <span class="project-details"><a href="img/gallerie_prestations/chariot.jpg" id="id4-nom"></a><em id=id4-des> </em>
                          <a href="img/gallerie_prestations/fiche.pdf"download="id9" title="Pdf" class="download">Telecharger la fiche produit(.pdf)</a>
                          <a href="devis"><input class="btn" value="Demande de devis" /></a>
                        </span>
                    </li>
                    <!-- Gallery Item 5 -->
                      <li  class="span3 gallery-item" data-id="id-5">
                        <span class="gallery-hover-4col hidden-phone hidden-tablet">
                            <span class="gallery-icons">
                                <a href="img/gallerie_prestations/etabli.jpg" class="item-zoom-link lightbox" title="Etabli" data-rel="prettyPhoto"></a>
                            </span>
                        </span>
                        <img src="img/gallerie_prestations/etabliP.png" alt="Gallery" id="img5">
                        <span class="project-details"><a href="img/gallerie_prestations/etabli.jpg" id="id5-nom"></a><em id="id5-des"></em>
                        <a href="img/gallerie_prestations/fiche.pdf"download="id9" title="Pdf" class="download">Telecharger la fiche produit(.pdf)</a>
                      	<a href="devis"><input class="btn" value="Demande de devis" /></a>
                       </span>
                    </li>

                    <!-- Gallery Item 6 -->
                     <li  class="span3 gallery-item" data-id="id-6">
                        <span class="gallery-hover-4col hidden-phone hidden-tablet">
                            <span class="gallery-icons">
                                <a href="img/gallerie_prestations/panier.jpg" class="item-zoom-link lightbox" title="Panier" data-rel="prettyPhoto"></a>
                            </span>
                        </span>
                        <img src="img/gallerie_prestations/panierP.png" alt="Gallery" id="img6">
                        <span class="project-details"><a href="img/gallerie_prestations/panier.jpg" id="id6-nom"></a><em id=id6-des></em>
                          <a href="img/gallerie_prestations/fiche.pdf"download="id9" title="Pdf" class="download">Telecharger la fiche produit(.pdf)</a>
                       	  <a href="devis"><input class="btn" value="Demande de devis" /></a>
                        </span>
                    </li>

                    <!-- Gallery Item 7 -->
                     <li  class="span3 gallery-item" data-id="id-7" >
                        <span class="gallery-hover-4col hidden-phone hidden-tablet">
                            <span class="gallery-icons">
                                <a href="img/gallerie_prestations/paniergrill.jpg" class="item-zoom-link lightbox" title="Panier grillagé" data-rel="prettyPhoto"></a>
                            </span>
                        </span>
                        <img src="img/gallerie_prestations/paniergrillP.png" alt="Gallery" id="img7">
                        <span class="project-details"><a href="img/gallerie_prestations/paniergrill.jpg" id="id7-nom"></a><em id="id7-des"></em>
                          <a href="img/gallerie_prestations/fiche.pdf"download="id9" title="Pdf" class="download">Telecharger la fiche produit(.pdf)</a>
                       	  <a href="devis"><input class="btn" value="Demande de devis" /></a>
                        </span>
                    </li>
                    <!-- Gallery Item 8 -->
                    <li class="span3 gallery-item" data-id="id-8" >
                        <span class="gallery-hover-4col hidden-phone hidden-tablet">
                          <span class="gallery-icons">
                              <a href="img/gallerie_prestations/goupille.jpg" class="item-zoom-link lightbox" title="Goupille" data-rel="prettyPhoto"></a>
                          </span>
                      </span>
                      <img src="img/gallerie_prestations/goupilleP.png" alt="Gallery" id="img8">
                      <span class="project-details"><a href="img/gallerie_prestations/goupille.jpg" id="id8-nom"></a><em id="id8-des"></em>
                        <a href="img/gallerie_prestations/fiche.pdf"download="id9" title="Pdf" class="download">Telecharger la fiche produit(.pdf)</a>
                   		<a href="devis"><input class="btn" value="Demande de devis" /></a>
                    </span>

                    </li>
                    <!-- Gallery Item 9-->
                    <li class="span3 gallery-item" data-id="id-9" >
                        <span class="gallery-hover-4col hidden-phone hidden-tablet">
                          <span class="gallery-icons">
                              <a href="img/gallerie_prestations/serrage.jpg" class="item-zoom-link lightbox" title="Serrage" data-rel="prettyPhoto"></a>
                          </span>
                      </span>
                      <img src="img/gallerie_prestations/serrageP.png" alt="Gallery" id="img9">
                      <span class="project-details"><a href="img/gallerie_prestations/serrage.jpg" id="id9-nom"></a><em id="id9-des"></em>
                      
                        <a href="img/gallerie_prestations/fiche.pdf"download="id9" title="Pdf" class="download">Telecharger la fiche produit(.pdf)</a>
 						<a href="devis"><input class="btn" value="Demande de devis" /></a>                    
                      </span>
                    </li>

                    <!-- Gallery Item 10-->
                    <li class="span3 gallery-item" data-id="id-10" >
                        <span class="gallery-hover-4col hidden-phone hidden-tablet">
                          <span class="gallery-icons">
                              <a href="img/gallerie_prestations/dix.jpg" class="item-zoom-link lightbox" title="Dix" data-rel="prettyPhoto"></a>
                          </span>
                      </span>
                      <img src="img/gallerie_prestations/dixP.png" alt="Gallery" id="img10">
                      <span class="project-details"><a href="img/gallerie_prestations/dix.jpg" id="id10-nom"></a><em id="id10-des"></em>
                        <a href="img/gallerie_prestations/fiche.pdf"download="id9" title="Pdf" class="download">Telecharger la fiche produit(.pdf)</a>
						<a href="devis"><input class="btn" value="Demande de devis" /></a>                     
                      </span>
                    </li>

                    <!-- Gallery Item 11-->
                    <li class="span3 gallery-item" data-id="id-11" >
                        <span class="gallery-hover-4col hidden-phone hidden-tablet">
                          <span class="gallery-icons">
                              <a href="img/gallerie_prestations/onze.jpg" class="item-zoom-link lightbox" title="Onze" data-rel="prettyPhoto"></a>
                          </span>
                      </span>
                      <img src="img/gallerie_prestations/onzeP.png" alt="Gallery" id="img11">
                      <span class="project-details"><a href="img/gallerie_prestations/onze.jpg" id="id11-nom"></a><em id="id11-des"></em>
                        <a href="img/gallerie_prestations/fiche.pdf"download="id9" title="Pdf" class="download">Telecharger la fiche produit(.pdf)</a>
                      	<a href="devis"><input class="btn" value="Demande de devis" /></a>
                      </span>
                    </li>



                </ul>
            </div>

        </div><!-- End gallery list-->

    </div><!-- End container row -->

    </div> <!-- End Container -->

  <!-- Footer -->

	<div class="footer-container" th:insert="~{commun :: footer}">
    </div>

    <!-- Scroll to Top -->
    <div id="toTop" class="hidden-phone hidden-tablet">Back to Top</div>

</body>
</html>
