<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Cadre - Devis</title>
<meta charset="UTF-8"/>

<!-- CSS
================================================== -->
<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="css/bootstrapSite.css">
<link rel="stylesheet" href="css/bootstrap-responsiveSite.css">
<link rel="stylesheet" href="css/jquery.lightbox-0.5.css">
<link rel="stylesheet" href="css/custom-styleS.css">

<!-- Favicons
================================================== -->
<link rel="shortcut icon" href="img/favicon.png.ico">

<!-- JS
================================================== -->
<script src="js/jquery-1.8.3.js"></script>
<script src="js/devis.js"></script>
<script src="js/bootstrapSite.js"></script>
<script src="js/jquery.custom.js"></script>
<script src="js/jquery.prettyPhoto.js"></script>


</head>

<body>
	<!-- Bandeaux -->
	<div th:insert="~{commun :: bandeaux}"></div>
    <div class="container">
       <!-- Header -->
       <div class="row header">
      <div class="span5 logo" id="slogan" th:insert="~{commun :: logo}"></div>
      <div th:insert="~{commun :: header(devis)}">
      </div>
      </div>

    <!-- Page Content -->
    <h2>Demande de devis</h2>
    <div class="row"><!--Container row-->
        <form id="devis-form" method="post" enctype="multipart/form-data" action="">
        <div class="span6">
            <h3>Emmeteur</h3>

                <div class="input-prepend">
                    <span class="add-on"><i class="icon-globe"></i></span>
                    <input class="span4" name="nomSociete" id="nomSociete" size="16" type="text" placeholder="Nom de la societe">
                </div>

                <div class="input-prepend">
                    <span class="add-on"><i class="icon-user"></i></span>
                    <input class="span4" name="nomDemandeur" id="nomDemandeur" size="16" type="text" placeholder="Nom">
                </div>
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-envelope"></i></span>
                    <input class="span4" name="mail" id="mail" size="16" type="email" placeholder="Adresse Email">
                </div>
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-tag"></i></span>
                    <input class="span4" name="telephone" id="telephone" size="16" type="text" placeholder="Numero de telephone">
                </div>
            </div>
             <div class="span6">

            <h3>Zone d'intervention</h3>

                <div class="input-prepend">
                    <span class="add-on"><i class="icon-globe"></i></span>
                    <input class="span4" name="adresse" id="adresse" size="16" type="text" placeholder="Adresse">
                </div>

                <div class="input-prepend">
                    <span class="add-on"><i class="icon-globe"></i></span>
                    <input class="span4" name="codePostal" id="codePostal" size="16" type="text" placeholder="Code Postal">
                </div>
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-globe"></i></span>
                    <input class="span4" name="ville" id="ville" size="16" type="text" placeholder="Ville">
                </div>
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-file"></i></span>
                    <input class="span4" name="service" id="service" size="16" type="text" placeholder="Service">
                </div>
            </div>

            <div class="span12">
             <h3>Details de l'intervention</h3>
                <textarea class="span12" name="message" id="message" placeholder="Description de l'intervention" ></textarea>
            </div>
            <div class="row">
                <div class="span2 offset5">
                <input type="submit" class="btn btn-inverse" value="Envoyer la demande" />
                </div>
            </div>



       </form>

        </div> <!--End page content column-->

    </div> <!-- End Container -->
  <!-- Footer Area
        ================================================== -->

	<div class="footer-container" th:insert="~{commun :: footer}"><!-- Begin Footer -->
    </div><!-- End Footer -->

    <!-- Scroll to Top -->
    <div id="toTop" class="hidden-phone hidden-tablet">Back to Top</div>
</body>
</html>
