body{
	margin: 0;
	padding: 0;
	font-size: 2vw;
	background: #F9F9F9;
	overflow: auto;
}
.container {
	padding: 0;
	margin: 0;
	width: 100%;
}
.row{
	padding:0;
	margin:0;
}

/* NAVIGATION */
nav {
	margin-top: 90px;
}
.row{
	min-width: 180px;
}
nav div {
	padding: 10px;
	width: 90%;
}
nav div img{
	width: 100%;
}
#test {
	text-decoration:none;
}
#rappels, #modifications{
	background-color: #2E64FE;
}
#calendrier{
	background-color: #0489B1;
}
#demandes{
	background-color: #81BEF7;
}
#annuaire{
	background-color: #81DAF5;
}
#ressources{
	background-color: #58ACFA;
}
.iconSignification{
	color: white;
	text-align: center;
	margin-top: 10px;
	font-weight: bold;
}
.iconePasla{
  display: none;
}
.iconeMenu{
  margin-top: 30px;
  left: 30px;
  font-size: 25px;
  position: absolute;
}
.petitMenu{
  position: absolute;
  margin-top: 10%;
  width:200px;
  z-index: 999;
}
.opaque{
  position: fixed;
  display: block;
  z-index: 990;
  right:0;
  left:0;
  bottom:0;
  top:0;
  background-color: rgba(33,33,33,0.5);
}

/* SECTION */
h1{
	color: #286090;
}
#titre{
	text-align: center;
	margin-top: 50px;
}
section p{
  color: #555555;
  margin-top: 60px;
  font-size: 22px;
}
form{
  margin-bottom: 90px;
}
table {
    margin-top: 30px;
    border-collapse: collapse;
    width: 100%;
    font-size: 16px;
    margin-bottom: 30px;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
td{
  color: #555555;
}
th{
  color: #444444;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
table .form-control{
  height: 2.5vw;
	min-height: 25px;
	min-width: 50px;
}
#calendar-wrap{
  margin-top: 40px;
}
#placementMois{
  text-align: center;
	color: #555555;
  margin-top: 60px;
  font-size: 22px;
}
#calendar-wrap h2{
  display: inline-flex;
}
#calendar{
  width: 100%;
  margin-top: 10px;
}
#calendar ul{
  margin: 0;
  padding: 0;
  list-style: none;
  clear: both;
  width: 100%;
}
#calendar li{
  display: block;
  float: left;
  width: 14.36%;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #999999;
  margin-right: -1px;
  margin-bottom: -1px;
}
.weekdays{
  height: 40px;
  background: #555555;
}
.weekdays li{
  text-align: center;
  text-transform: uppercase;
  line-height: 29px;
  border: none;
  padding: 10px 6px;
  color: #FFF;
  font-size: 13px;
}
.days li{
  height: 100px;
  overflow: auto;
  font-size: 11px;
}
.days li:hover{
  background-color: #EEE;
}
.date{
  text-align: center;
  margin-bottom: 5px;
  padding: 5px;
  background-color: #888888;
  color: #FFF;
  width: 25px;
  border-radius: 5px;
}
.event{
  clear: both;
  display: block;
  margin-bottom: 5px;
  padding: 5px;
  color: #FFF;
}
.event-time{
  color: #EEE;
}
.fine{
  background-color: #dff0d8;
  border-radius: 5px;
  box-sizing: border-box;
  color : #3c763d;
  border: solid 1px #d6e9c6;
}
.info{
  background-color: #fcf8e3;
  border-radius: 5px;
  box-sizing: border-box;
  color : #8a6d3b;
  border: solid 1px #faebcc;
}
.bad{
  background-color: #f2dede;
  border-radius: 5px;
  box-sizing: border-box;
  color : #a94442;
  border: solid 1px #ebccd1;
}
.other-mounth{
  background-color: lightgrey;
}

/* FOOTER */
footer{
	position: relative;
	bottom: 0;
	padding-bottom: 5px;
	padding-right: 15px;
	padding-left: 15px;
	width: 100%;
	background: #F9F9F9;
	padding-top: 10px;
	z-index: 9;
}
footer img{
	width: 60px;
	position: absolute;
	right: 15px;
	bottom: 3px;
}
footer img:hover{
	width: 70px;
	right: 10px;
	bottom: -2px;
}
.notification{
	width: 200px;
	font-size: 12px;
	position: absolute;
	right: 10px;
	top: 20px;
	margin-right: 10px;
	z-index: 99;
}
#maillingAnnonceNum{
	position: absolute;
	top: -3px;
	right: 63px;
	color: white;
	font-size: 20px;
	font-weight: bold;
}
#imgAlerte{
	position: absolute;
	top: -8px;
	right: 50px;
	width: 40px;
}
.apparaitre{
	display: inline-block;;
}
.disparaitre{
	display: none;
}
#bouton2, #bouton1 {
	width: 150px;
	margin-bottom: 5px;
}
#bouton2:hover, #bouton1:hover{
	background-color: #FFF;
	color: #286090;
}


/* ADAPTATIONS */
@media screen and (max-width: 650px) {
	body{
		min-width: 650px;
	}
	/* NAVIGATION */
	nav{
		min-width: none;
		max-width: none;
		margin-bottom: 10px;
	}
	nav .row{
		width: 100%;
	}
	nav div {
		min-width: 45px;
	}
	nav div a img{
		min-width: 20px;
	}
	/* SECTION */
	h1{
		font-size: 30px;
	}
	table .form-control{
    height: 25px;
  }
	/* FOOTER */
	#bouton2, #bouton1 {
		width: 130px;
		font-size: 16px;
	}
}
