<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Cadre - Contact</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- CSS
================================================== -->
<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/bootstrap-responsive.css">
<link rel="stylesheet" href="css/jquery.lightbox-0.5.css">
<link rel="stylesheet" href="css/custom-styles.css">


<!-- Favicons
================================================== -->
<link rel="shortcut icon" href="img/favicon.png.ico">

<!-- JS
================================================== -->
<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/jquery.custom.js"></script>
<script src="js/jquery.prettyPhoto.js"></script>
</head>

<body>
	<div class="color-bar-1"></div>
    <div class="color-bar-2 color-bg"></div>

    <div class="container">

      <div class="row header"><!-- Begin Header -->

        <!-- Logo
        ================================================== -->
        <div class="span5 logo">
            <a href="index"><img src="img/Logo.png" alt="" /></a>
            <h5> Travaux métalliques depuis 1996 </h5>

        </div>

        <!-- Main Navigation
        ================================================== -->
        <div class="span7 navigation">
            <div class="navbar hidden-phone">

            <ul class="nav">

           <li><a href="index">Accueil</a></li>
           <li><a href="lentreprise">L'entreprise</a></li>
           <li><a href="prestations">Nos prestations</a></li>
           <li class="active"><a href="contact">Contact</a></li>
           <li><a href="devis">Votre Devis</a></li>

            </ul>

            </div>

            <!-- Mobile Nav
            ================================================== -->
            <form action="#" id="mobile-nav" class="visible-phone">
                <div class="mobile-nav-select">
                <select onchange="window.open(this.options[this.selectedIndex].value,'_top')">
                    <option value="">Naviger...</option>
                    <option value="index">Accueil</option>
                    <option value="lentreprise">L'entreprise</option>
                    <option value="prestations">Nos prestations</option>
                    <option value="contact">Contact</option>
                    <option value="devis">Votre Devis</option>
                </select>
                </div>
                </form>

        </div>

      </div><!-- End Header -->

    <!-- Page Content
    ================================================== -->
    <div class="row"><!--Container row-->

        <div class="span8"><!--Begin page content column-->

            <h2>Pour nous contacter</h2>
            <form action="#" id="contact-form">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-user"></i></span>
                    <input class="span4" size="16" type="text" placeholder="Nom">
                </div>
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-envelope"></i></span>
                    <input class="span4" size="16" type="text" placeholder="Adresse Email">
                </div>
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-globe"></i></span>
                    <input class="span4"  size="16" type="text" placeholder="Société">
                </div>
                <textarea class="span8"></textarea>
                <div class="row">
                    <div class="span2">
                        <input type="submit" class="btn btn-inverse" value="Envoyer le message">
                    </div>
                </div>
            </form>

								<h5 class="title-bg" >Nous trouver</h5>
								<img src="img/map.JPG" alt="map">
        </div> <!--End page content column-->


        <!-- Sidebar
        ================================================== -->
        <div class="span4 sidebar page-sidebar"><!-- Begin sidebar column -->
            <h5 class="title-bg">Nos Contacts</h5>
            <address>
            <strong>C.A.D.R.E</strong><br>
             ZONE ARTISANALE DU BOIS NICOLAS <br/>
            ST MARTIN EN CAMPAGNE <br/>
            76370 PETIT-CAUX   <br/>
            <abbr title="Téléphone">Tel:</abbr>02 35 83 68 03 <br/>
            <abbr title="Numéro Fax">Fax:</abbr>02 35 83 26 98
            </address>
             <address>
            <strong>Siège social</strong><br>
            <a href="mailto:#">sarl.cadre@wanadoo.fr</a>
            </address>

            <address>
            <strong>Michel PAILLART</strong><br>
            <p>DECT : XXX </p>
            </address>

             <address>
            <strong>Dominique LUCAS</strong><br>
            <p>DECT : XXX </p>
            </address>
						<address>
						<strong>Michel PAILLART</strong><br>
						<p>DECT : XXX </p>
						</address>

						 <address>
						<strong>Dominique LUCAS</strong><br>
						<p>DECT : XXX </p>
						</address>
						<address>
						<strong>Michel PAILLART</strong><br>
						<p>DECT : XXX </p>
						</address>

						 <address>
						<strong>Dominique LUCAS</strong><br>
						<p>DECT : XXX </p>
						</address>


        </div><!-- End sidebar column -->
				</div>
			</div> <!-- End Container -->
   <!-- Footer Area
        ================================================== -->

    <div class="footer-container"><!-- Begin Footer -->
        <div class="container">
            <div class="row footer-row">
                <div class="span3 footer-col">
                   <img src="img/LogoTransparent.png" alt="Cadre" /><br /><br />

                </div>
                <div class="span3 footer-col">
                    <address>
                        <strong>Cadre</strong><br />
                        ZONE ARTISANALE DU BOIS NICOLAS <br/>
                        ST MARTIN EN CAMPAGNE <br/>
                        76370 PETIT-CAUX
                    </address>
                </div>
                <div class="span3 footer-col">

                </div>
                <div class="span3 footer-col">
                   <button> Acéder à mon espace personnel</button>
                </div>
            </div>

            <div class="row"><!-- Begin Sub Footer -->
                <div class="span12 footer-col footer-sub">
                    <div class="row no-margin">
                        <div class="span6"><span class="left">Copyright 2012 Piccolo Theme. All rights reserved.</span></div>
                        <div class="span6">
                            <span class="right">
                            <a href="index">Accueil</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="entreprise">L'entreprise</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="prestations">Nos prestations</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="contact">Contact</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="devis">Votre Devis</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div><!-- End Sub Footer -->

        </div>
    </div><!-- End Footer -->

    <!-- Scroll to Top -->
    <div id="toTop" class="hidden-phone hidden-tablet">Back to Top</div>

</body>
</html>
